

.header_nav{
	/* min-width:1370px; */
	height:120px;
	/*height:120px;*/
	
}
.header_right{
    margin:0px;
    padding:0px;	
}
.item_right{
	
	display:inline-block;
	float:right;
	padding-left:15px;
}
.nav_right{
	margin: 0;  
    border: 0;  
    padding: 0;
	font-size:40px;
}
.nav_right ul{
list-style: none;	
}
.nav_right li{
   display: inline-block;  
   height:50px;
   width:50px;
   padding:0;
   margin-left:5px;
   margin-right:5px;
   margin-top:12px;
     
}
li{
	display:list-item;
}
.nav_right a{
	color:white;
	font-size:40px;
	transition:0.5s;
}


.header_nav a:hover{
	color:black;
}
.header_home a{
	color:white;
	text-decoration:none;
	transition:0.5s;
	
}
.header_home a:hover{
	color:black;
}
.main_box{
	height:690px;
	float:right;
	width:570px;
}
.main_box ul{
	list-style:none;
	float:right;
	padding-left:0;
	
}



.block_square{
	height:200px;
    width:200px;
    border-radius:5px;
	
}
.main_ol ol{
	list-style:none;
	float:right;
	margin-right:50px;
}
.main_ol ol li{
   display: inline-block;  
   height:120px;
   width:300px;
   padding:0;
   margin-left:10px;
   margin-right:10px;
   margin-top:10px;
   margin-bottom:10px;
   
   cursor: pointer;  
   transition: all 0.6s; 
}

 @media screen and (max-width:2500px){
 
.box{
	position:absolute;
	width:1080px;
	height:700px;
    top:70%;
    left:50%;
    margin:-350px 0 0 -540px;
    padding:0;
    
}
.image_box{
	width:400px;
	height:690px;
	float:left;
	padding-top:20px;
	padding-bottom:15px;
}

.image_box img{
	width:400px;
	height:660px;
    transition: all 0.6s;
}

.menu_box{
	width:670px;
	height:690px;
	float:right;
	padding-top:10px;
}
.menu_box ul{
	list-style:none;
	float:right;
	padding-left:0;
	
}
.menu_box ul li{
   display: inline-block;  
   height:200px;
   width:200px;
   padding:0;
   margin-left:10px;
   margin-right:10px;
   margin-top:10px;
   margin-bottom:10px;
   
   cursor: pointer;  
   transition: all 0.6s; 
}
.menu_box li:hover{

transform: scale(1.1);
}
.menu_box ul li a{	
	color:white;
	text-decoration:none;
}
.menublock{
	height:200px;
    width:200px;
    border-radius:5px;
	background-color:#5BC0DE;
	font-size:80px; 
	padding-top:30px;
}
.menusize{
	font-size:30px;
	margin-top:20px;
	text-align:center;
}
.box{
	position:absolute;

	width:1080px;
	height:700px;
    top:50%;
    left:50%;
    margin:-310px 0 0 -540px;
}
}




